<link rel="stylesheet" href="header.css">
<header class="main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
                <img src="/src/svgs/cat-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">WhiskerHub</a>
            <button class="navbar-toggler" type="button"        data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="index.html">HOME</a>
                <a class="nav-item nav-link" href="store.html">STORE</a>
                <a class="nav-item nav-link" href="about.html">ABOUT</a>
              </div>
            </div>
            <form class="form-inline">
                <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button id="search-btn" class="btn  my-2 my-sm-0" type="submit">Search</button>
                <div class="cart-container">
                    <a href="cart.html">
                    <img id="cart" src="/src/svgs/cart.svg" width="40" height="40" class="d-inline-block align-top" alt=""></a>
                    <div id="cartAmount" class="cartAmount">0</div>
                </div>
            </form>
        </nav>
    </div>
</header>